.header{
    height: 800px;
    background-image: url('_MG_7839.jpg');
    background-repeat: none;
    background-repeat: repeat-x;
    background-size: contain;
    /*background-image: url('../'); /*showing all folder*/
}


h3{
    font-size: 30px;
    text-decoration: overline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second{
    /*display: none;*/
    visibility: hidden;
}

.blog{
    margin: 40px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 20px yellow; 
}